
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/CadeMedico/Index">LISTAGEM MEDICOS</a>
<br />
<a href="/Especialidade/Index">LISTAGEM ESPECIALIDADES</a>
<br />
<a href="/Cidade/Index">LISTAGEM CIDADES</a>
